<div class="px-3 admin-menu-title">
    <a href="{{ path('app_home') }}"><h2 class="my-3">{{ 'admin.menu.title'|trans }}</h2></a>
</div>
<hr>
<div class="px-3 admin-menu-content">
    <a href="{{ path('app_admin_model_index') }}">{{ 'admin.menu.model.title'|trans}}</a>
    <p class="px-2"><a href="{{ path('app_admin_model_new') }}">{{ 'admin.menu.model.add'|trans }}</a> </p>
</div>